@page "/create-request"

@using CarService.Application.Services
@using CarService.Core.Entities
@inject IVehicleService VehicleService
@inject IServiceRequestService Service
@inject NavigationManager Navigation

<h3>Create Service Request</h3>

<div class="mb-3">
    <label>Vehicle</label>
    <select class="form-control" @bind="vehicleId">
        @if (vehicles != null)
        {
            @foreach (var v in vehicles)
            {
                <option value="@v.Id">
                    @v.Brand @v.Model (@v.Year)
                </option>
            }

        }
    </select>
</div>

<div class="mb-3">
    <label class="form-label">Description</label>
    <input class="form-control" @bind="description" />
</div>

<div class="mb-3">
    <label class="form-label">Base Price</label>
    <input class="form-control" type="number" @bind="basePrice" />
</div>

<div class="mb-3">
    <label>Pricing Strategy</label>
    <select class="form-control" @bind="pricingStrategy">
        <option value="Default">Default</option>
        <option value="Loyalty">Loyalty Discount</option>
        <option value="Urgency">Urgency</option>
    </select>
</div>

<button class="btn btn-primary" @onclick="CreateRequest">
    Create
</button>

@code {

    List<Vehicle> vehicles = new();
    int vehicleId;
    string description = "";
    decimal basePrice;
    string pricingStrategy = "Default";

    protected override async Task OnInitializedAsync()
    {
        vehicles = await VehicleService.GetAllAsync();
    }
    async Task CreateRequest()
    {
        await Service.CreateAsync(vehicleId, description, basePrice, pricingStrategy);

        Navigation.NavigateTo("/service-requests");
    }

}