@page "/create-vehicle"

@using CarService.Core.Entities
@using CarService.Application.Services

@inject IClientService ClientService
@inject IVehicleService Service
@inject NavigationManager Navigation

<h3>Create Vehicle</h3>

<div class="mb-3">
    <label>Brand</label>
    <input class="form-control" @bind="brand"/>
</div>

<div class="mb-3">
    <label>Model</label>
    <input class="form-control" @bind="model"/>
</div>

<div class="mb-3">
    <label>Year</label>
    <input class="form-control" type="number" @bind="year"/>
</div>

<div class="mb-3">
    <label>Vin</label>
    <input class="form-control" @bind="vin" />
</div>

<div class="mb-3">
    <label>Client Id</label>
    <select class="form-control" @bind="clientId">
        @foreach (var client in clients)
        {
            <option value="@client.Id">
                @client.Name
            </option>
        }
    </select>
</div>

<button class="btn btn-primary" @onclick="CreateVehicleAsync">
     Create
</button>

@code{

string brand = "";
string model = "";
int year;
string vin = "";
List<Client> clients = new();
int clientId;

protected override async Task OnInitializedAsync()
{
    clients = await ClientService.GetAllAsync();
}
async Task CreateVehicleAsync()
{
    await Service.CreateAsync(brand, model, year, vin, clientId);

    Navigation.NavigateTo("/vehicles");
}

}